<h1>
  SHOWING TODO
</h1>

<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>

<%= link_to "Edit this todo", edit_todo_path(@todo) %> |
<%= link_to "Show all todos", todos_path %>